.register-container, .registered-container {
  display: flex;
  flex-direction: column;
}

.registered-container {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../../assets/imgs/event_blur.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.registered-container .registered-wrap {
    background-color: var(--white-color);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--gray-color-400);
    border-radius: 6px;
    box-shadow: 0 15px 15px rgba(0, 1, 1, 0.1);
}

.register-container .logo-img {
  height: 100px;
  width: 200px;
  align-self: center;
}
/* Container for the progress bar */
.progress-bar-container {
  width: 100%;
  height: 15px;
  background-color: var(--gray-color-400);
  border-radius: 10px;
  overflow: hidden;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Actual progress indicator */
.progress-bar {
  height: 100%;
  background-color: var(--pink-color); /* Green color */
  transition: width 0.4s ease;
}
.register-content {
    height: auto;
}
.register-content .info-img {
    margin-bottom: 30px;
    width: 500px;
    display: flex;
}
.register-content .info-img img {
    border-radius: 10px;
    width: 500px;
    height: 300px;
    align-self: center;
}
.register-container .register-btns {
  align-self: center;
}

.register-container .home-btn {
  padding: 15px 20px;
  margin-right: 20px;
  color: var(--pink-color);
  border: 1px solid var(--pink-color) !important;
  border-radius: 6px;
  transition: all 0.6s ease;
}
.register-container .home-btn:hover {
    transform: scale(1.1);
}

/*--------- Steps styling ------------*/
/* Step1.js styling */
.step-container{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.step-container input {
    height: 40px !important;
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 6px;
}
.step-container input[type="checkbox"]{
    height: 20px !important;
    margin: 0;
    width: auto;
    margin-right: 10px;
}
.event-cont {
    margin-bottom: 10px;
}

.step-container select {
    padding: 10px;
    border: 1px solid var(--pink-color);
    border-radius: 6px;
    margin-bottom: 10px;
}
.step-container input:focus{
    border: 1px solid var(--pink-color) !important;
}

.password-errors p{
    color: red !important;
    font-size: 12px !important;
}

.event-cont {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .register-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}