.profile-container {
    min-height: 70vh;
}
.box {
    box-shadow: 0 15px 15px rgba(0, 1, 1, 0.1);
}
.profile-subtitle {
    color: var(--pink-color);
    margin-bottom: 20px;
}
.edit-icon:hover {
    color: var(--pink-color);
    cursor: pointer;
}
.profile-label {
    font-weight: 600;
}
p {
    font-weight: 400;
}